__pycache__/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.idea/
.vscode/
.github/
.venv/
data/
models/

**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__pycache__/**

*.pyc
*.pyo
*.coverage

*.csv
*.parquet

*.txt
*.log

*.pkl
*.bin

*.ipynb
