repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        types: [text]

  - repo: https://github.com/timothycrosley/isort
    rev: 7.0.0
    hooks:
      - id: isort
        language_version: python3
        args: [
          "--profile", "black",
          "-l", "120"
        ]

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.12
        args: [
          "--line-length", "120"
        ]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        verbose: True
        require_serial: true
        exclude: ^tests/.*\.py$

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        verbose: True
        require_serial: true
        exclude: ^tests/.*\.py$

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types:
          - python
        stages:
          - pre-push
        pass_filenames: false
